<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#fcba03"/>
    <meta name="description" content="Eat delicious yet cheap food at our partner restaurants">
    <link rel="apple-touch-icon" href="/icons/maskable_icon_x192.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Welti Resto</title>
</head>
<body>
    <a href="#maincontent" class="skip-link">Skip to content</a>
    <header>
        <div id="theTop">
            <button id="hamburger" aria-label="menu">☰</button>
            <h3 id="appBar">Welti Restos</h3>
        </div>
        <nav id="drawer">
            <ul>
                <li id="name">Welti Restos</li>
                <li><a href="#/home">Home</a> </li>
                <li><a href="#/favourites">Favourites</a> </li>
                <li><a href="https://github.com/" target="_blank" rel="noreferrer">About</a></li>
            </ul>
        </nav>
    </header>
    <main id="maincontent">
    </main>
    <footer>
        <p> &#169; 2021 - Welti Resto</p>
    </footer>
</body>
</html>
