@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

*{
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    display: inline;
    overflow: auto;
}
#theTop{
    display: none;
}
nav{
    background-color:#fcba03;
    padding: 1%;
    position: sticky;
    top: 0;
}
nav ul{
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr repeat(3, fit-content(800px));
    grid-gap: 20px;
    justify-content: center;
    margin-right: 2%;
    margin-left: 2%;
}
#drawer li{
    list-style-type: none;
    font-size: 18px;
    font-weight: 400;
}
nav a{
    text-decoration: none;
    padding: 10px 2% 10px 2%;
    margin-right: 10%;
    color: #010d7a;
}

#hamburger {
    display: none;
}
#name{
    color: #010d7a;
}
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #bf1722;
    color: white;
    padding: 8px;
    z-index: 100;
}
  
.skip-link:focus {
    top: 0;
}
.cap{
  font-size: 150%;
  color: white;
}
.jumbotron{
    padding: 10%;
    height: 100%;
    min-height: 40%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../public/images/heros/hero-image_4-large.jpg);
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
}
.cap > h1{
    color: white;
    padding: 10px;
}
.cap > h2{
    color: white;
    padding: 10px;
    font-size: 120%;
}
main{
    min-width: 0;
}
.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
select {
    width: 49%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
  }
.content{
    background-color: #2c2c2c;
    min-height: 700pt;
}
#restos {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,  minmax(320px, 400px));
    grid-template-rows: repeat(auto-fit, minmax(0.4fr, 0.8fr));
    grid-gap: 1.5rem;
    background-color: #2c2c2c;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding: 10px;
}
.stars{
    font-size: small;
    padding-left: 3%;
}

.menu{
    margin-bottom: 12px;
    padding-bottom: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: white;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
}

.pic-restos{
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 270px;
    object-fit: cover;
    object-position: center;
}

.resto-name {
    padding-top: 3%;
    padding-left: 3%;
    color: black;
    font-weight: lighter;
    text-decoration: none;
}
.resto-name:hover{
    font-weight: bold;
}
.menu > p {
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height:61px;
}

#favTitle{
    color: white;
    text-align: center;
    padding: 2%;
}
.resto{
    padding: 2% 12%;
}
.fav {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #db0000;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about{
    display: grid;
    justify-content: left;
    grid-template-columns: repeat(2,  minmax(200px, 460px));
    grid-gap: 1.5rem;
}

#desc{
    height: fit-content;
    min-width: none;
    max-width: max-content;
}
#pic-resto{
    width: 540px;
}
#desc, #pic-resto{
    max-width: -webkit-fill-available;
    max-width: -moz-available;
    object-fit: cover;
    object-position: center;
}
.about ul{
    margin-left: 15pt;
}
.about ul:before{
    content:attr(aria-label);
    font-size:100%;
    font-weight:bold;
    margin-left:-15pt;
}
.allReviews {
    display: grid;
    justify-content: left;
    grid-template-columns: repeat(auto-fit,  minmax(200px, 1000px));
}
.review{
    margin-bottom: 12px;
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
    background-color: rgb(240, 240, 240);
}
.review li{
    list-style-type: none;
}
.reviewName{
    font-weight: bold;
}
.reviewDate{
    font-weight: lighter;
    font-style: italic;
    font-size: small;
}
input[type=text]{
    width: 50%;
    padding: 10pt;
    margin-left:25%;
    margin-right:auto;
    margin-bottom: 3%;
    clear: both;
    border: 1px solid #d0cece;
    border-radius: 4px;
    box-sizing: border-box;
}
::placeholder{
    font-size: large;
}
.restoNotFound{
    color: rgb(194, 194, 194);
    text-align: center;
    font-size: large;
    padding: 10%;
}
footer{
    font-size: 15px;
    padding: 1%;
    background-color:#fcba03;
    text-align: center;
    color: #010d7a;
}
@media screen and (max-width: 1084px){
    .about{
        grid-template-columns: repeat(auto-fit,  minmax(200px, 800px));
    }
}
@media screen and (max-width: 618px){
    .jumbotron{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../public/images/heros/hero-image_4-small.jpg);
    }
    #theTop{
        display: block;
        background-color:#fcba03;
        position: sticky;
        padding: 3%;
        top: 0;
    }
    #theTop button{
        background-color: #fcba03;
        border-width: 0;
    }
    #appBar{
        text-align: center;
        margin-top: 5pt;
        margin-bottom: 5pt;
        color: #010d7a;
    }
    #hamburger {
        padding: 10pt 17pt 10pt 17pt;
        position: fixed;
        display: block;
        text-decoration: none;
        color: #010d7a;
        z-index: 1;
    }
    #drawer {
        width: 250px;
        height: 100%;
        position: absolute;
        -webkit-transform: translate(-250px, 0);
        transform: translate(-300px, 0);
        transition: transform 0.3s ease-in-out;
        background-color:#fcba03;
    }
    #drawer.open {
        -webkit-transform: translate(0, 0);
        transform: translate(0,0);
    }
    nav ul{
        display: block;
    }
    nav li{
        display: block;
        padding: 1%;
        margin: 3%;
    }
    nav a{
        color: #010d7a;
    }
    #name {
        display: none;
        color: #010d7a;
    }
    .menu{
        margin-left: 4%;
        margin-right: 4%;
    }
    .resto{
        padding: 2% 5%;
    }
}